.App {
  height: 100vh;
  width: calc(100% - var(--navbar-width));
  margin-left: var(--navbar-width);
}

.App__content {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}

.App__content > * {
  width: 100%;
  height: 100%;
}