.App {
  height: 100vh;
  width: calc(100% - var(--navbar-width));
  margin-left: var(--navbar-width);
}

.App__content {
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  padding: 1rem;
}

.App__content > * {
  width: inherit;
  height: inherit;
}