.Login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.Login__button {
  width: 100%;
  margin-top: 50px;
  text-align: center;
}
