.btn {
    border: none;
    padding: 1rem 0.5rem;
    background-color: var(--primary-color);
    text-align: center;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    transition: var(--default-transition);
}

.btn:hover {
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0px 10px 30px rgb(128, 171, 177);
}

.btn:active {
    transform: translateY(6px);
}