.btn {
    border: none;
    padding: 0.75rem 0.5rem;
    text-align: center;
    border-radius: 3px;
    font-weight: bold;
    transition: var(--default-transition);
    transform: translateY(0);
    outline: 0;
    font-size: 1rem;
}

.btn--primary {
    background-color: var(--primary-color);
    color: white;
}

.btn--dark {
    background-color: var(--dark-color);
    color: var(--primary-color);
}

.btn:hover {
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0px 10px 30px var(--medium-grey);
}

.btn:active {
    transform: translateY(2px);
}
