.card__grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

.card {
  display: block;
  background-color: white;
  box-shadow: var(--box-shadow-default);
  padding: 2rem;
  border-radius: 3px;
  width: 200px;
  margin: 0.25rem;
  transition: var(--default-transition);
  max-height: 200px;
  overflow: hidden;
  position: relative;
}

.card:after {
  content: "";
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, white);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.card__full {
  color: darkred;
  font-size: 3rem;
  position: relative;
  left: 17%;
  top: 24%;
  transform: rotate(-15deg);
}

.card--no-overlay:after {
  content: none;
}

.card__title {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card__subtitle {
  font-weight: italic;
}

.card:hover {
  transform: translateY(-3px);
  filter: brightness(1.05);
}
