.card {
  background-color: white;
  box-shadow: var(--box-shadow-default);
  padding: 2rem;
  border-radius: 3px;
  width: 200px;
  margin: 0.25rem;
  transition: var(--default-transition);
}

.card__title {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card__subtitle {

}

.card:hover {
  transform: translateY(-3px);
  filter: brightness(1.05);
}
