@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

:root{
    --Gloria-Hallelujah : "'Gloria Hallelujah', cursive";

    --Font-Size-Large : 1.5em;
}

h1 {
    font-size: 10rem;
}