.FormContainer {
  display: flex;
  background-color: white;
  flex-direction: column;
  box-shadow: var(--box-shadow-default);
  padding: var(--spacing-unit);
  min-width: 400px;
}

.FormContainer__Title{
  padding: var(--spacing-unit-mini);
  color: var(--primary-color);
  text-align: center;
}

.FormContainer__Form {
  width: 100%;
}

.FormContainer__container__actionButton {
  margin-top: var(--spacing-unit-mini);
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.FormContainer__actionButton {
  align-self: flex-end;
  text-align: center;
}

.FormItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}

.FormItem__label {
  font-weight: bold;
  color: var(--grey-color);
  text-transform: capitalize;
}

.FormItem__input {
  padding: 0.5rem 0.25rem;
}

