.NavbarLink {
  padding-top: var(--spacing-unit-mini);
  padding-left: var(--spacing-unit-mini);
  padding-bottom: var(--spacing-unit-mini);
  color: var(--medium-grey);
  text-decoration: none;
  transition: var(--default-transition);
  font-family: var(--Gloria-Hallelujah);
  font-size: var(--Font-Size-Large);
}

.NavbarLink:hover {
  color: var(--dark-grey);
  background-color: var(--white-color);
}

.NavbarLink:active {
  color: var(--white-color); 
  background-color: var(--white-color);
}
