.NavbarLink {
  padding: var(--spacing-unit-mini);
  color: var(--medium-grey);
  text-decoration: none;
  transition: var(--default-transition);
}

.NavbarLink:hover {
  color: var(--dark-grey);
  background-color: var(--white-color);
}

.NavbarLink--active {
  color: var(--dark-grey);
  background-color: var(--white-color);
}
