.Navbar {
  width: var(--navbar-width);
  height: 100vh;
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--dark-color);
}

.Navbar__logo {
  width: var(--navbar-width);
}

.Navbar__index {
  margin-right: auto;
}
