.Navbar {
  width: var(--navbar-width);
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: red;
}

.Navbar__logo {
  height: 80px;
}

.Navbar__index {
  margin-right: auto;
}